.container {  
  padding: 40px 0;
}

.form-container > label {
  font-size: 14px;
  color: #000;
}
.result-container {
  background: #1f232a;
  padding: 15px;
  border: 1px solid #7d7f83;
}
.form-label {
  width: 100%;
}
.search-btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#search-by-name {
  width: 50%;
  float: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.select-container {
  padding-right: 0;
}
.select-container > select {   
  width: 50%;
  float: right;
}
.result-info-container {
  margin-bottom: 30px;
}
.image-container {
  position: relative;
}
.image-container > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.form-container {
  overflow: hidden;
}
.description-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 7px 5px;
}
.description-container > h2 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0;
}
.description-container > p {
  font-size: 14px;
  margin-bottom: 0;
}
.detail-description {
  background: #333333;
  padding: 10px 10px 25px 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.detail-description > ul {
  padding: 0;
  margin: 0;
}
.detail-description ul > li {
  list-style: none;
  border-bottom: 1px solid #393939;
  padding: 5px 0;
  font-size: 14px;
  overflow: hidden;
}
.detail-description ul > li:last-child {
  border-bottom: none;
}
.description-label {
  color: #696969;
  display: inline-block;
  max-width: 30%;
  text-transform: uppercase;
}
.description-detail {
  max-width: 60%;
  margin-left: 10%;
  display: inline-block;
  color: #a26615;
  float: right;
}
@media (min-width: 320px) and (max-width: 767px) {
  .form-container {
      padding: 15px;
  }
  #search-by-name {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 5px;
  }
  .Search-btn {
      border-radius: 5;
      width: 100%;
  }
  .select-container {
      padding: 0;
  }
  .select-container > select {
      width: 100%;
  }
  .detail-description ul > li {
      font-size: 12px;
      overflow: hidden;
  }
  .description-label {
      width: 40%;
  }
  .description-detail {
      width: 55%;
  }
  .description-container > p {
      font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {

}